*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Fira Mono', monospace;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #f2f2f2;
    color:#1a1a1a;
    width: 100%;
  }

  section{
    margin: 0px 150px;

  }
  section#projects .project-img{
    width: 100px;
}
.header {
    margin: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;

}
.header div.logo a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header div.logo a figure{
    margin:0px;
}
.header div.logo a .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header .name {
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1rem;
    color:#1a1a1a;
    font-weight:bold;
    display: flex;
    flex-direction: column;

}
.header .name p{
    padding: 0;
    margin: 0
}
.header ul.nav-list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}
.header ul.nav-list li {
    padding: 0px 15px
}
.header nav a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}
.header nav a:hover {
    text-decoration: underline;
    text-decoration-color: #cc7a00;
    text-underline-offset: 5px;
    transition: .5s;
}
/* .header .checkbtn{
    font-size: 1.5rem;
    cursor:pointer;
    display: none;
}
.header #check{
    display: none
} */
/* header nav ul.burger-nav-list{
    display: none;
} */
.header .toggle-menu{
    /* position: absolute; */
    width: fit-content;
    position: absolute;
    right:80px;
    cursor: pointer;
    display:none;
    z-index: 1;
}
.header .toggle-menu i{
    font-size: 1.5rem;
}

section.presentation {
    padding: 2rem 0;
}

.pres2{
    font-size: 3.5rem;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    padding: 2rem 0 ;
}
.pres3{
    font-size: 2.5rem;
    padding: 1rem 0;
}
.pres1{
    font-size: 1.2rem;
    color:#cc7a00;
    font-weight: bold;
} 
.pres4 {
    font-size: 1rem;
    padding: 1rem 0;
}

section#about {

    box-sizing: border-box;
}
.title{
    font-size: 2.5rem;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    padding: 1rem 0;
}
section#about .about{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1rem 0px

}

section#about div.text {
    text-align: justify;
    padding-right: 50px ;
}
section#about div.text p{
    padding-bottom: 10px
}
section#about div.img {
    text-align: center;
    padding: 0 0 0 0rem;

}
section#about img{
    border-radius: 10% ;
    width:200px
}

section#projects div.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    flex-wrap: wrap;
    width: 100%;
}
section#projects div.projects article {
    position:relative;
    width: 300px;
    height: 350px;

}
section#projects article.project-card{
    margin: 20px 10px
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
    
.front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #1a1a1a;
}
.front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front .project-title span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 45px;
    color:#f2f2f2;
    background: rgba(0,0,0,.4);
    text-align: center;
    line-height: 45px;
    font-size: 1,2rem;
    font-weight: bold;
}
.back{
    transform: perspective(600px) rotateY(180deg);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px #1a1a1a;
}
.back img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(20%)
}
.back .project-title{
    width: 100%;
    height: 45px;
    background: rgba(0,0,0,.4);
}
.back .project-title span {
    top: 0;
    color:#f2f2f2;
    text-align: center;
    line-height: 45px;
    font-size: 1,3rem;
    font-weight: bold;
    text-decoration: underline;
}
.back .project-title a{
    text-decoration: none;
}
.back .project-desc p{
    padding: 5px 15px;
}
.back .project-languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
    padding: 0 10px;
}
.back .project-languages p{
    margin: 0;
    font-size: 0.8rem;
}
.back .project-git i{
    font-size: 2rem;
    color: #f2f2f2;
    padding: 5px 15px 15px 15px;
}
.back .project-git a{
    text-decoration:none ;
}
section#projects div.projects article:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
section#projects div.projects article:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

section#skills .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:  1rem 0;
    margin: 0
  }
  
  section#skills .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem
  }   

  section#skills .skill img {
    width: 50px;
    height: 50px;
  }
  section#skills .skill span{
    font-weight: bold;
  }

  section#education div.education{
    padding: 1rem 0
  }
  div.education h3{
    font-size: 1.2rem;
    padding: 1rem 0;
    text-decoration: underline;
    text-underline-offset: 5px ;
    text-decoration-color: #cc7a00;
  }
  div.education p{
    padding: .3rem 0;
    text-align: justify;
  }
section#contact h2{
    padding-bottom: 2rem;
}
section#contact .form{
    background-color: white;
    width: 90%;
    margin:auto;
    max-width: 500px;
    border-radius: 1em;
    padding: 2rem 1.5em;
    margin-bottom: 2rem;
    box-shadow: 0px 5px 5px #cc7a00;
}
section#contact .form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
    
}
section#contact .form-container h3{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: .4em;
}

  section#contact .form-input{
    font-family: inherit;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #f2f2f2;
    border-radius: 0.2em;
  }
  section#contact .form-input:focus{
    border: 1px solid #cc7a00
  }
  section#contact .form-message{
    resize: none;
  }
  section#contact .form-submit{
    font-family: inherit;
    font-size: 1rem;
    background-color: #1a1a1a;
    color: #f2f2f2;
    border: none;
    font-weight: bold;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
  }
  section#contact .form-submit:hover{
    box-shadow: 0 5px 5px #3c3b3b;
    transition: .5s;
  }
  .follow-icons{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
    padding: 10px 0px 10px;
}
.follow-icons a{
    text-decoration: none;
    color: black
}
#logo-git{
    font-size: 2.5rem;
    width: 30%;
    transition: all 0.4s
}
#logo-git:hover{
    color: rgb(69, 143, 212);
    font-size: 3rem;
}
#logo-in{
    font-size: 2.5rem;
    width: 30%;
    transition: all 0.4s
}
#logo-in:hover{
    color: blue;
    font-size: 3rem;
}
#logo-wsp{
    font-size: 2.5rem;
    width: 30%;
    transition: all 0.4s
}
#logo-wsp:hover{
    color: rgb(73, 203, 73);
    font-size: 3rem;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 0 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cc7a00;
    
}
footer .copyright{
    display: flex;
    flex-direction: column;
}
footer .copyright a{
    text-decoration: none;
    color: #1a1a1a;
}
footer .copyright p{
    padding: 0;
    margin: 0
}

footer ul.nav-list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}
footer ul.nav-list li {
    padding: 0px 10px
}
footer nav a {
    color: #1a1a1a;
    text-decoration: none;
    font-size: 1rem;
}

footer nav a:hover {
    text-decoration: underline;
    text-decoration-color: #cc7a00;
    text-underline-offset: 5px;
    transition: .5s;
}

@media (max-width: 1100px) {
    .header{
        margin: 20px 100px 
    }
    section{
        margin: 0 100px
    }
    footer{
        margin: 50px 100px 0 100px
    }
    .pres2{
        font-size: 3rem;
    }
    .pres3{
        font-size: 2.3rem;
    }
    .pres1{
        font-size: 1.1rem;
    } 
    .pres4 {
        font-size: 1rem;
    }
    section#skills .skill {
        padding: 1.5rem
    }
    section#projects div.projects article {
        width: 240px;
        height: 280px;
    }
    .header ul.nav-list li {
        padding: 0px 10px
    }

}
@media(max-width:982px){
    *{
        font-size: 14px;
    }
    .header{
        margin: 20px 80px 
    }
    section{
        margin: 0 80px
    }
    footer{
        margin: 50px 80px 0 80px
    }
    .pres2{
        font-size: 3rem;
    }
    .pres3{
        font-size: 2.3rem;
    }
    .pres1{
        font-size: 1.1rem;
    } 
    .pres4 {
        font-size: 1rem;
    }
    section#skills .skill {
        padding: 1.5rem
    }
    section#projects div.projects article {
        width: 210px;
        height: 245px;
    }
    .header ul.nav-list li {
        padding: 0px 10px
    }
}
@media (max-width:800px){
    *{
        font-size: 12px
    }
    .header{
        padding: 10px 0
    }
}

@media (max-width:750px){
    .header .toggle-menu{
        display: block;
    }
    .header ul.nav-list{
        flex-direction: column;
        position:absolute;
        width: 100vw;
        left:0;
        top:100px;
        text-align: center;
        background-color: rgb(72, 71, 71, 0.9) ;
        padding: 1rem 0;
        transition: transform 0.3s;
        transform:translateY(-150%)
    }
    .header ul.nav-list li.nav_item{
        padding:1rem 0;
        color: white;
    }
    .header nav a {
        color: white;
        font-size: 1.3rem;
    }
    .header nav a:hover {
        font-size: 1.4rem;
    }
    .header ul.nav-list--show{
        transform: translateY(0);
    }
    .pres2{
        font-size: 2.5rem;
        padding: 1rem 0 ;
    }
    .pres3{
        font-size: 2rem;
    }
    .pres1{
        font-size: 1rem;
        padding: 0.9rem 0 ;
    } 
    .pres4 {
        font-size: 1rem;
    }
    section#about img{
        width: 150px;
    }    
    section#skills .skill {
        padding: 1.2rem
    }
    footer .nav{
        display: none;
    }
    .header{
        margin: 20px 50px 
    }
    section{
        margin: 0 50px
    }
    footer{
        margin: 30px 50px 0 50px
    }   
}
@media (max-width:578px){
    section#projects div.projects {
        flex-direction: column;
        padding: 3rem 0rem;
        flex-wrap: wrap;
        width: 100%;
    }
    section#about img{
        display: none;
    }
    section#about div.text {
        padding: 0;
    }
    section#skills .skill {
        padding: 1rem
      }   
    
      section#skills .skill img {
        width: 35px;
        height: 35px;
      }
      section#skills .skill span{
        font-size: 0.9rem;
      }

}
@media (max-width: 480px) {
    .pres2{
        font-size: 2.3rem;
        padding: 0.8rem 0 ;
    }
    .pres3{
        font-size: 1.8rem;
    }
    .pres1{
        font-size: 1rem;
        padding: 0.9rem 0 ;
    } 
    .pres4 {
        font-size: 1rem;
    }
}