<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link href="db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=".vscode">
    <script src="https://kit.fontawesome.com/9c18bcfe28.js" crossorigin="anonymous"></script>
    <title> <%= title %>   </title>
  </head>
  <body>
    <header>
      <div class="header">

        <div class="logo">
          <a href="/">
            <figure>
              <img class="avatar" src="/images/avatar.jpg" alt="imagen de avatar">
            </figure>
            <div class='name'>
              <p>Francisco</p>
              <p>Lopez Coppari</p>
            </div>
          </a>
        </div>
        <div class="nav">
          <nav>
            <!-- <label for="check" class="checkbtn">
              <i class="fa-solid fa-bars"></i>
            </label>
            <input type="checkbox" id="check"> -->
            <div class="toggle-menu" id="toggle-menu">
              <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="nav-list" id="nav-list">
              <li class="nav_item"><a id='ref' href="#about">Sobre Mi</a></li>
              <li class="nav_item"><a id='ref' href="#projects">Proyectos</a></li>
              <li class="nav_item"><a id='ref' href="#skills">Skills</a></li>
              <li class="nav_item"><a id='ref' href="#education">Educación</a></li>
              <li class="nav_item"><a id='ref' href="#contact">Contacto</a></li>
            </ul>
          </nav>  
        </div>
      </div>

    </header>
    
    <main>
      <section class="presentation">
        <div>
          <p class="pres1">Hola, mi nombre es</p>
          <p class="pres2">Francisco Lopez Coppari</p>
          <p class="pres3">Full Stack Developer</p>
          <p class="pres4">"Soy responsable, ambicioso, resolutivo y perseverante"</p>
        </div>
      </section>
      <section id="about">
        <h2 class="title">Sobre Mi</h2>
        <div class="about">
          <div class="text">
            <p>Soy un apasionado por el Desarrollo Web, con la lógica y lo resolutivo de un Ingeniero. Mi objetivo es ser un programador altamente calificado y se que para lograrlo debo estar en constante capacitación.</p>
            <p>Siempre destaqué por mi gran capacidad para aprender y adaptarme al cambio, y me siento muy comodo trabajando en diferentes equipos bajo diferentes metodologías.</p>
            <p>Me encuentro en búsqueda de mi primer trabajo como desarrollador, con muchas ganas de aprender y sumar experiencias.</p>
          </div>
          <div class="img">
            <figure>
              <img class="avatar" src="/images/avatar.jpg" alt="imagen de avatar" >
            </figure>
          </div>
        </div>
      </section>
      <section id="projects">
        <h2 class="title">Proyectos</h2>
        <div class="projects">
          <article class="project-card">
            <div class="face front">
              <img  src="/images/project1.png" alt="proyect 1 image">
              <div class="project-title">
                <a href="https://ecommerce-blackfe-francisco-lopez-coppari.onrender.com" target="_blank"><span>Blackfe - E-commerce</span></a>
              </div>
            </div>
            <div class="face back">
              <img  src="/images/project1-b.png" alt="proyect 1 image">
              <div class="project-title">
                <a href="https://ecommerce-blackfe-francisco-lopez-coppari.onrender.com" target="_blank"><span>Blackfe - E-commerce</span></a>
              </div>
              <div class="project-desc">
                <p>Web que simula un e-commerce de mi emprendimiento personal Blackfe, dedicado a la venta de muebles estilo industrial</p>
              </div>
              <div class="project-languages">
                <p>Node |</p>
                <p>Express |</p>
                <p>JS |</p>
                <p>Sequelize</p>
              </div>
              <div class="project-git">
                <a href="https://github.com/franlopezcop/E-commerce_Blackfe" target="_blank"><i class="fa-brands fa-github"></i></a>
              </div>
            </div>
          </article>

          <article class="project-card">
            <div class="face front">
              <img  src="/images/project2.png" alt="proyect 2 image">
              <div class="project-title">
                <a href="https://ecommerce-blackfe-api.onrender.com" target="_blank"><span>Blackfe - API</span></a>
              </div>
            </div>
            <div class="face back">
              <img  src="/images/project2-b.png" alt="proyect 1 image">
              <div class="project-title">
                <a href="https://ecommerce-blackfe-api.onrender.com" target="_blank"><span>Blackfe - API</span></a>
              </div>
              <div class="project-desc">
                <p>Proyecto que provee endpoints para ser consumidos en la app de React</p>
              </div>
              <div class="project-languages">
                <p>Node |</p>
                <p>JS</p>
              </div>
              <div class="project-git">
                <a href="https://github.com/franlopezcop/E-commerce_Blackfe-API" target="_blank"><i class="fa-brands fa-github"></i></a>
              </div>
            </div>
          </article>

          <article class="project-card">
            <div class="face front">
              <img  src="/images/project3.png" alt="proyect 3 image">
              <div class="project-title">
                <a href="https://ecommerce-blackfe-reactdashboard.onrender.com" target="_blank"><span>Blackfe - React Dashboard</span></a>
              </div>
            </div>
            <div class="face back">
              <img  src="/images/project3-b.png" alt="proyect 1 image">
              <div class="project-title">
                <a href="https://ecommerce-blackfe-reactdashboard.onrender.com" target="_blank"><span>Blackfe - React Dashboard</span></a>
              </div>
              <div class="project-desc">
                <p>Web que simula un e-commerce de mi emprendimiento personal Blackfe, dedicado a la venta de muebles estilo industrial</p>
              </div>
              <div class="project-languages">
                <p>Node |</p>
                <p>React</p>
                <p>JS |</p>
                <p>API</p>
              </div>
              <div class="project-git">
                <a href="https://github.com/franlopezcop/E-commerce_Blackfe-React"><i class="fa-brands fa-github" target="_blank"></i></a>
              </div>
            </div>
          </article>
        </div> 
      </section>
      <section id="skills">
        <h2 class="title">Skills</h2>
        <div class="skills">
          <% skills.forEach( skill =>{ %>
            <article class="skill">
              <div>
                <figure class="skill-icon">
                  <img src=<%= skill.img %> alt='<%= skill.name %> logo'>
                </figure>
              </div>
              <div>
                <span><%= skill.name %> </span>
              </div>
            </article>
          <% }) %> 
        </div>
      </section>
      <section id="education">
        <h2 class="title">Educación</h2>
        <div class="education">
          <h3> Desarrollo Web Full Stack </h3>
          <p><b>¿Dónde?</b> Digital House</p>
          <p><b>¿Cuándo?</b> Mayo 2022 - Noviembre 2022</p>
          <p>Curso completo de desarrollo web Full Stack dictado por la academia virtual Digital House. El mismo incluye una proyecto integrador grupal, donde se crea un e-commerce de 0 a 100, trabajando con SCRUM, GitHub, Trello y todas las tecnologías aprendidas en el curso.</p>
  
          <h3> Ingeniería Industrial </h3>
          <p><b>¿Dónde?</b> Universidad Tecnológica Nacional</p>
          <p><b>¿Cuándo?</b> Febrero 2017 - Diciembre 2022</p>
          <p>Grado en Ingeniería Industrial con promedio de 8,80.</p>
  
          <h3> Inglés </h3>
          <p><b>¿Dónde?</b> World Link</p>
          <p><b>¿Cuándo?</b> Marzo 2006 - Noviembre 2015</p>
          <p>Nivel avanzado - Competencias profesionales.</p>
        </div>
      </section>
      <section id="contact">
        <h2 class="title">Contacto</h2>
        <form class="form" action="https://formspree.io/f/xvonkpev"
        method="POST">
          <div class="form-container">
            <h3>Enviar Email</h3>
            <input type="text" class="form-input" name='name' placeholder="Nombre:">
            <input type="email" class="form-input" name="email" placeholder="Tu Email:">
            <textarea class="form-input form-message" name="message" placeholder="Mensaje:"></textarea>
            <input type="submit" value="Enviar" class="form-submit">
          </div>
        </form>
        <div class="follow-icons">
          <a href="https://github.com/franlopezcop" target="_blank"><i class="fa-brands fa-github" id="logo-git"></i></a>
          <a href="https://www.linkedin.com/in/franciscolopezcoppari" target="_blank"><i class="fa-brands fa-linkedin" id="logo-in"></i></a>
          <a href="https://api.whatsapp.com/send?phone=543512078672&text=Hola%20Francisco%2C" target="_blank"><i class="fab fa-whatsapp" id="logo-wsp"></i></a>
      </div>
      </section>
    
    </main>
    <footer>
        <div class='copyright'>
          <p><b>@ 2023</b></p>
          <a href="/">
            <p>Francisco Lopez Coppari</p>
          </a>
        </div>
      <div class="nav">
        <nav>
          <ul class="nav-list">
            <li class="nav_item"><a href="#about">Sobre Mi</a></li>
            <li><a href="#projects">Proyectos</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#education">Educación</a></li>
            <li><a href="#contact">Contacto</a></li>
          </ul>
        </nav>  
      </div>
    </footer>
    <script src="js/scripts.js"></script>
  </body>
</html>